@use './variables';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@600;700;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: variables.$secondary;
  font-family: 'Noto Serif JP', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-weight: 600;
  letter-spacing: .05em;
  line-height: 1.75;
  background-color: #FCFCFC;
  animation: fadeIn 2s ease 0s backwards;
  @keyframes fadeIn {
    0% {
      opacity: 0
    }
  }
}

.l-main {
  @include variables.mq(md){
    display: flex;
  }
}
.container {
  padding-right: 1rem;
  padding-left: 1rem;
  @include variables.mq(md){
    flex: 0 0 60%;
    margin-left: auto;
    padding-right: variables.$pd-right;
    padding-left: 2.5rem;
  }
}

.row {
  @include variables.mq(md){
    margin-left: -.5rem;
    margin-right: -.5rem;
    display: flex;
    flex-wrap: wrap;
  }
}

.col {
  padding: .5rem 0;
  @include variables.mq(md){
    padding: 0 .5rem;
    flex: 1 0 50%;
  }
}
