@use '../variables.scss';

button {
  transition: opacity .3s;
  &:hover {
    opacity: .7;
  }
}

button,input {
  font-family: 'Noto Sans JP', sans-serif;
  padding: 1.2rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  &::placeholder {
    color: #c6c6c6;
    font-weight: 400;
  }
}
.appContent {
  position: relative;
  padding-top: 8rem;
  @include variables.mq(lg){
    padding-top: 6.5rem;
  }
  &::before {
    position: absolute;
    top: 0;
    left: 50%;
    content: '';
    width: 1px;
    height: 5rem;
    display: block;
    background-color: variables.$secondary;
    animation: stretch .7s cubic-bezier(0.16, 1, 0.3, 1) 2s backwards;
    @keyframes stretch {
      0% {
        height: 0;
      }
    }
  }
}
.outline {
  font-weight: 700;
  font-size: 1.25rem;
  margin-top: 0;
	margin-bottom: 2rem;
}
.inputGroup {
  input {
    width: 100%;
    border-radius: 0.25rem;
    border: 2px solid variables.$gray-300;
  }
}
.buttonGroup {
  margin-top: 1rem;
  button {
    width: 100%;
  }
  #submit {
    background-color: variables.$primary;
    color: #fff;
  }
  #reset {
    background-color: variables.$gray-300;
  }
}
.shuffleButtonField {
  #shuffle {
    width: 100%;
    background-color: variables.$secondary;
    color: #fff;
    margin: 1.5rem 0;
    @include variables.mq(lg){
      width: 50%;
    }
  }
}
.resultArea {
  margin-top: 3rem;
  .outputField, .shuffledField {
    flex: 0 0 50%;
    min-height: 25vh;
    word-break: break-word;
  }
  .outputField,.shuffledField {
    background-color: #fff;
    box-shadow: 10px 10px 20px rgba(#000,.04);
  }
  .outputField {
		display: flex;
    padding: 2.5rem 1.5rem;
    .outputList {
      flex: 0 0 50%;
      text-align: left;
      padding: 0 .75rem;
      &:first-of-type {
        text-align: right;
      }
    }
    p {
      color: variables.$primary;
      font-size: 1.5rem;
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 0;
      animation: fadeIn .5s ease-out 0s backwards;
      @keyframes fadeIn {
        0% {
          opacity: 0
        }
      }
    }
  }
  .shuffledField {
    padding: 5rem 1.5rem;
    p {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 2.5rem;
      font-weight: 900;
      text-align: center;
    }
    .v-enter-active {
      transition: opacity 1.5s;
    }
    .v-enter-from,
    .v-leave-to {
      opacity: 0;
    }
  }
}